.post {
  max-width: 391px;
  margin-top: 20px;
}

.postImage {
    width: 352px;
height: 288px;
}

.postInfo {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 10px;
  line-height: 150%;
  color: #333;
  text-transform: uppercase;
  margin-top: 15px;
}

.postInfo span {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 10px;
  line-height: 150%;
  color: #999;
}

.postTitle {
    font-family: 'Raleway';
font-weight: 700;
font-size: 17px;
line-height: 133%;
text-transform: capitalize;
color: #333;
margin-top: 20px;
}

.postDescr {
    font-family: 'Roboto';
font-weight: 400;
font-size: 11px;
line-height: 150%;
color: #666;
margin-top: 10px;
}

.postBtn {
    font-family: 'Roboto';
font-weight: 700;
font-size: 12px;
line-height: 150%;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #7c4ee4;
margin-top: 30px;
}


@media (min-width: 392px) {
    .post {
        max-width: 298px;
    }

    .postImage {
        width: 298px;
        height: 240px;
    }

    .postInfo {
        font-size: 12px;
    }
    
    .postTitle {
        font-size: 20px;
        max-width: 300px;
    }
}

@media (min-width: 1000px) {
    .post {
        max-width: 425px;
    }
    
    .postImage {
        width: 429px;
        height:350px;
    }
}